#!/bin/sh

# All variables prefixes with TF_VAR may be shared with terraform
export TF_VAR_AZURE_RESOURCE_GROUP = "dc902_rg"
export TF_VAR_AZURE_PACKER_RESOURCE_GROUP = "dc902_packer_rg"
export TF_VAR_AZURE_REGION = "Canada East"
export TF_VAR_DC01_VM_SIZE = "Standard_DS2_v2"
export TF_VAR_DC01_MANAGED_IMAGE_NAME = "DC902-DC01-Windows-Server-2019"
export TF_VAR_WHITELISTED_CIDR = "CHANGE_ME/32"
export TF_VAR_DC01_ADMIN_USERNAME = "deployer"
export TF_VAR_DC01_ADMIN_PASSWORD = "CHAMGE_ME"

# Packer related variables
export AZURE_SUBSCRIPTION_ID = "CHANGE_ME"
export AZURE_CLIENT_ID = "CHANGE_ME"
export AZURE_CLIENT_SECRET = "CHANGE_ME"
export AZURE_TENANT_ID = "CHANGE_ME"
export PACKER_RESOURCE_GROUP = "dc902_packer_rg"

# Active directory user related variables
export  DC902_USER1_PASSWORD = "CHANGE_ME"
export  DC902_USER2_PASSWORD = "CHANGE_ME"
export  DC902_USER3_PASSWORD = "CHANGE_ME"
export  DC902_USER4_PASSWORD = "CHANGE_ME"
export  DC902_USER5_PASSWORD = "CHANGE_ME"
export  DC902_USER6_PASSWORD = "CHANGE_ME"
export  DC902_USER7_PASSWORD = "CHANGE_ME"